.background {
    background-color: rgb(233, 229, 229);
    border-radius: 5px;
    margin: 40px 0;
}

#title, #sub-title {
    text-align: center;
}

#title {
    padding-top: 50px;
}

#img-div {
    background-color: white;
    padding: 0 10px;
    margin: 10px;
    text-align: center;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#img-caption {
    padding: 15px 0;
    max-width: 100%;
    height: auto;
    margin: auto;
    font-size: 12px;
    font-weight: 400;
}

#tribute-info {
    text-align: center;
    padding: 50px;
    font-size: 14px;
}

h3 {
    margin-bottom: 50px;
}

li {
    text-align: justify;
    max-width: 50%;
    height: auto;
    margin: auto;
    line-height: 1.8rem;
    padding: 5px;
}

#tribute-info p {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
    height: auto;
    margin: 15px auto;
    font-style: italic;
}

footer {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-weight: 800;
}

#tribute-link {
    color: blue;
}

#tribute-link:visited {
    color: blueviolet;
}

@media (max-width: 300px) {

    #img-caption {
        font-size: 16px;
    }

    #tribute-info {
        text-align: center;
        padding: 50px;
        font-size: 16px;
    }

    li {
        text-align: left;
        max-width: 100%;
        height: auto;
        margin: auto;
        line-height: 1.8rem;
        padding: 5px;
        font-size: 16px;
    }
    
    #tribute-info p {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 100%;
        height: auto;
        margin: 15px auto;
        font-style: italic;
    }
}